.company {
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    background-color: whitesmoke;
    padding-left: 4em;
    padding-bottom: 5em;

    &__content {
        
        &__image {
            padding-bottom: 2em;
            width: 80%;
            height: auto;
        }

        &__description {
            font-family: Helvetica;
            font-size: 1.9em;
            padding-right: 20%;
            padding-bottom: 1em;
        }

        &__button {
            background-color: #252525;
            color: #fff;
            padding: 1em 3em;
            border-radius: 2em;
        }
    }

    &__product {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;

        &__title {
            padding-top: 1em;
            font-size: 5em;
        }

        &__article {
            font-family: Helvetica;
            width: 100%;
            display: flex;
            border: 1px solid black;
            background-color: #fff;
            border-radius: 2em;
            left: 50%;
            transform: translateX(-6%);

            &__content {
                padding-top: 3em;
                padding-bottom: 1em;
                padding-right: 1em;
                padding-left: 2em;
                &__title {
                font-size: 2em;
                }

                &__description {
                    font-size: 1.7em;
                }
            }
        }

        &__image {
            display: flex;
            width: 100%;
            height: auto;
            

            &__left {
                width: 45%;
                height: auto;
                padding-right: 1.5em;
            }

            &__right {
                width: 45%;
                height: auto;
                padding-right: 1em;
            }
        }
    }
}